# env related files
flutter.env
server.env

# Flutter build files
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/engine/
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Runner.xcworkspace/
web/.dart_tool/
web/build/
windows/Flutter/ephemeral/
windows/Flutter/GeneratedPluginRegistrant.cpp
windows/Flutter/GeneratedPluginRegistrant.h
windows/Flutter/GeneratedPluginRegistrant.obj
windows/Flutter/GeneratedPluginRegistrant.rc
windows/Flutter/GeneratedPluginRegistrant.res
windows/Flutter/GeneratedPluginRegistrant.resources
windows/Flutter/GeneratedPluginRegistrant.rsp
windows/Flutter/ephemeral/
windows/Runner/GeneratedPluginRegistrant.*
linux/Flutter/ephemeral/
linux/Flutter/GeneratedPluginRegistrant.*
linux/Pods/
linux/Runner.xcworkspace/
test/.dart_tool/
*.iml

# VS Code
.vscode/

# Misc
*.log
*.lock
*.tmp
*.swp
*.DS_Store
*.idea/
*.sublime-workspace
*.sublime-project
